*{margin:0;
 padding:0px;
 box-sizing:border-box;}
 
.container{ width:30%;
			text-align:center;
			margin:10%;
			height:20px;
			}
			
img{width:100px;
	border:2px solid white;
box-shadow:0 0 5px black;}

.col img{border-radius:50px 50px 50px 50px;}

.head{padding:10px;}

#chief{color:#bdbab1;
	font-style:italic;
	padding:10px;}